.wrapper {
  display: flex;
}

.title {
  margin: 0;
  margin-left: 20px;
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text {
  margin: 10px 0 0;
  max-height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.editForm {
  display: flex;
  flex-direction: column;
}

.inputTitle {
  height: 30px;
  margin-bottom: 10px;
}

.inputText {
  min-height: 200px;
  margin-bottom: 10px;
}

.buttonSave {
  height: 30px;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(84, 216, 161);
}
