.title {
  margin: 0;
}

.text {
  margin: 10px 0 0;
}

.editForm {
  display: flex;
  flex-direction: column;
}

.inputTitle {
  height: 30px;
  margin-bottom: 10px;
}

.inputText {
  min-height: 200px;
  margin-bottom: 10px;
}

.buttonSave {
  height: 30px;
  cursor: pointer;
}
