.post {
  margin: 50px auto 0;
  width: 80vh;
  background-color: white;
  border: 2px solid rgb(38, 132, 104);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(38, 132, 104);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commentsBox {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  width: 90%;
}

.commentsBox:last-child {
  border: none;
  width: 90%;
}

.commentForm {
  width: 90%;
  margin: 20px;
}

.commentItem {
  border-bottom: 2px solid rgb(38, 132, 104);
  position: relative;
}

.commentInput {
  width: 85%;
  margin-right: 10px;
  min-height: 18px;
}

.commentButton {
  width: 80px;
  height: 25px;
  cursor: pointer;
}
