.header {
  width: 100%;
  margin: 0;
  height: 70px;
  background-color: #69ffc1;
  display: flex;
  flex-direction: row;
}

.avatar {
  margin-top: 2px;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(84, 216, 161);
}

.headerMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 20px;
}

.menuItem {
  cursor: pointer;
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.menuItemEntry {
  margin-right: 10px;
}

.menuItemExit {
  color: red;
  right: 30px;
  position: absolute;
}

.menuLinkActive {
  font-weight: bold;
}
