.welcome {
  background-image: url(../../../public/Без\ имени-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkWelcome {
  text-decoration: none;
  color: rgb(124, 255, 227);
}

.imgBan {
  width: 400px;
  height: 400px;
  background-image: url(../../images/картинкаБан.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.text {
  text-align: center;
}
