.welcome {
  background-image: url(../../../public/Без\ имени-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
}

.linkWelcome {
  text-decoration: none;
  color: rgb(124, 255, 227);
}
