.post {
  min-height: 50px;
  width: 800px;
  background-color: rgb(255, 255, 255);
  list-style: none;
  border-radius: 10px;
  box-shadow: 4px 4px 3px rgb(84, 216, 161);
  border: 1px solid rgb(84, 216, 161);
  padding: 15px 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.infoPost {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
}

.like {
  display: flex;
}

.likeButton {
  border: none;
  background-color: white;
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 0;
}

.likeCount {
  margin: 0 0 0 5px;
}

.answer {
  margin-left: 20px;
  display: flex;
}

.answerCount {
  margin: 0 0 0 5px;
}

.author {
  margin: 0;
  text-align: end;
}

.editPost {
  cursor: pointer;
  margin-left: 10px;
}

.discuss {
  cursor: pointer;
}

.delete {
  cursor: pointer;
  margin-left: 10px;
}
