.post {
  min-height: 50px;
  width: 800px;
  background-color: rgb(255, 255, 255);
  list-style: none;
  border-radius: 10px;
  box-shadow: 4px 4px 3px rgb(84, 216, 161);
  border: 1px solid rgb(84, 216, 161);
  padding: 15px 15px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.title {
  margin: 0;
}

.text {
  margin: 10px 0 0;
}

.author {
  position: relative;
  top: 40px;
  text-align: end;
}

.editPost {
  cursor: pointer;
  margin-left: 10px;
}

.discuss {
  cursor: pointer;
}

.delete {
  cursor: pointer;
  margin-left: 10px;
}

.editForm {
  display: flex;
  flex-direction: column;
}

.inputTitle {
  height: 30px;
  margin-bottom: 10px;
}

.inputText {
  min-height: 200px;
  margin-bottom: 10px;
}

.buttonSave {
  height: 30px;
  cursor: pointer;
}
