.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.messageAuth {
  color: red;
}

.registrationForm {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}

.registrationForm input {
  margin-bottom: 5px;
}

.inputButton {
  cursor: pointer;
}
